<div class="info-wrapper">
  <header class="info-hero">
    <h1>INFORMAZIONI</h1>
    <p class="subtitle">un riepilogo del mio percorso formativo </p>
  </header>

  
  <section class="personal-section">
    <div class="info-grid">
      <div class="grid-item">
        <span class="label">NOME E COGNOME</span>
        <span class="value">Mico Pesquiza</span>
      </div>
      <div class="grid-item">
        <span class="label">ETÀ</span>
        <span class="value">21 Anni</span>
      </div>
      <div class="grid-item">
        <span class="label">NAZIONALITÀ</span>
        <span class="value">Italiana</span>
      </div>
    </div>
  </section>

  
  <section class="timeline-section">
    <h2>PERCORSO FORMATIVO</h2>
    
    <div class="custom-timeline">
      <div class="timeline-block">
        <div class="timeline-marker"></div>
        <div class="timeline-info">
          <span class="date">2025 - 2026 </span>
          <h3>Attestato software developer</h3>
          <p>corso di software developer ad Asev e stage presso ad Adiacent</p>
        </div>
      </div>

     
      <div class="timeline-block">
        <div class="timeline-marker"></div>
        <div class="timeline-info">
          <span class="date">2025</span>
          <h3>Attestato web designer</h3>
          <p>corso di web design ad Asev e stage presso Inol3</p>
        </div>
      </div>

      
      <div class="timeline-block">
        <div class="timeline-marker"></div>
        <div class="timeline-info">
          <span class="date">2018 - 2023</span>
          <h3>Diploma Superiore</h3>
          <p>Liceo Virgilio Artistico </p>
        </div>
      </div>
    </div>
  </section>
</div>
