<section class="skills-section">
  <h2>Le Mie Competenze</h2>

  <div class="skills-grid">
    <div class="skill-card">
      <i class="fab fa-angular angular-icon"></i>
      <span>Angular</span>
    </div>
    
    <div class="skill-card">
      <i class="fab fa-react react-icon"></i>
      <span>React</span>
    </div>

    <div class="skill-card">
      <i class="fab fa-js photoshop-icon"></i> <span>Photoshop</span>
    </div>
    
    <div class="skill-card">
      <i class="fab fa-figma illustrator-icon"></i>
      <span>Illustrator</span>
    </div>

    <div class="skill-card">
      <i class="fas fa-video premiere-icon"></i>
      <span>Premiere</span>
    </div>
  </div>
</section>